@use "../../libs/css/mixin.scss" as *;
@use "../../public/font/iconfont.css" as *;
@use "../../theme.scss" as *;


.hy-icon {
  /* #ifndef APP-NVUE */
  display: flex;
  /* #endif */
  align-items: center;

  &--left {
    flex-direction: row-reverse;
    align-items: center;
  }

  &--right {
    flex-direction: row;
    align-items: center;
  }

  &--top {
    flex-direction: column-reverse;
    justify-content: center;
  }

  &--bottom {
    flex-direction: column;
    justify-content: center;
  }

  &__icon {
    position: relative;
    @include flex;
    align-items: center;

    &--primary {
      color: $hy-primary;
    }

    &--success {
      color: $hy-success;
    }

    &--error {
      color: $hy-error;
    }

    &--warning {
      color: $hy-warning;
    }

    &--info {
      color: $hy-info;
    }
  }

  &__img {
    /* #ifndef APP-NVUE */
    height: auto;
    will-change: transform;
    /* #endif */
  }

  &__label {
    @include line-feed();
    overflow: hidden;
    /* #ifndef APP-NVUE */
    line-height: 1;
    /* #endif */
  }
}
.hy-rotate {
  animation: hy-rotate 1s infinite linear;
  @keyframes hy-rotate {
    0% {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(1turn);
    }
  }
}