@use "../../theme.scss" as *;
@use "../../libs/css/mixin.scss" as *;

$u-numberBox-hover-bgColor: #e6e6e6 !default;
$u-numberBox-disabled-color: #c8c9cc !default;
$u-numberBox-disabled-bgColor: #f7f8fa !default;
$u-numberBox-plus-radius: 4px !default;
$u-numberBox-minus-radius: 4px !default;
$u-numberBox-input-text-align: center !default;
$u-numberBox-input-font-size: 15px !default;
$u-numberBox-input-padding: 0 !default;
$u-numberBox-input-margin: 0 2px !default;
$u-numberBox-input-disabled-color: #c8c9cc !default;
$u-numberBox-input-disabled-bgColor: #f2f3f5 !default;

.hy-number-box {
  @include flex(row);
  align-items: center;

  &__slot {
    /* #ifndef APP-NVUE */
    touch-action: none;
    /* #endif */
  }

  &__plus,
  &__minus {
    width: 35px;
    @include flex;
    justify-content: center;
    align-items: center;
    /* #ifndef APP-NVUE */
    touch-action: none;
    /* #endif */

    &--hover {
      background-color: $u-numberBox-hover-bgColor !important;
    }

    &--disabled {
      color: $u-numberBox-disabled-color;
      background-color: $u-numberBox-disabled-bgColor;
    }
  }

  &__plus {
    border-top-right-radius: $u-numberBox-plus-radius;
    border-bottom-right-radius: $u-numberBox-plus-radius;
  }

  &__minus {
    border-top-left-radius: $u-numberBox-minus-radius;
    border-bottom-left-radius: $u-numberBox-minus-radius;
  }

  &__input {
    position: relative;
    text-align: $u-numberBox-input-text-align;
    font-size: $u-numberBox-input-font-size;
    padding: $u-numberBox-input-padding;
    margin: $u-numberBox-input-margin;
    @include flex;
    align-items: center;
    justify-content: center;

    &--disabled {
      color: $u-numberBox-input-disabled-color;
      background-color: $u-numberBox-input-disabled-bgColor;
    }
  }
}