@use "../../theme.scss" as *;
@use "../../libs/css/mixin.scss" as *;

.hy-virtual-container {
  height: v-bind(listHeight);
  padding: 0 $hy-border-margin-padding-base;
  box-sizing: border-box;

  &__list {
    padding: v-bind(paddingAttr);
    @include flex(v-bind(arrange));
    overflow-anchor: none;
    &--item {
      box-sizing: border-box;
    }

    &--left {
      margin-right: $hy-border-margin-padding-base;
    }
    &--box {
      box-sizing: border-box;
      width: 50%;
      display: flex;
      flex-direction: column;
      &-item {
        box-sizing: border-box;
        position: relative;
        overflow: hidden;
      }
    }
  }
}