@use "../../libs/css/mixin.scss" as *;
@use "../../theme.scss" as *;

.hy-cell {
  flex: 1;

  /*标题*/
  &__title {
    padding: $hy-border-margin-padding-lg $hy-border-margin-padding-sm;

    &-nav {
      display: flex;
      align-items: center;

      &--ver {
        border-radius: 4rpx;
        width: 4px;
        height: 20px;
        margin-right: 16rpx;
      }
      &--text {
        font-size: $hy-font-size-subtitle;
        line-height: 16px;
        color: $hy-color-title;
      }
    }
  }

  /*row内容*/
  &__body {
    /* #ifndef APP-NVUE */
    box-sizing: border-box;
    /* #endif */
    font-size: $hy-font-size-paragraph;
    color: $hy-color-paragraph;
    // line-height: $u-cell-line-height;
    align-items: center;
    //justify-content: space-between;

    &--container {
      @include flex(row);
      align-items: center;
      justify-content: space-between;
      flex: 1;

      /* 大 */
      &__large {
        font-size: $hy-font-size-lg;
        padding: 35rpx;
        line-height: 25px;
      }

      /* 默认 */
      &__medium {
        font-size: $hy-font-size-base;
        padding: 30rpx;
        line-height: 20px;
      }

      /* 小 */
      &__small {
        font-size: $hy-font-size-sm;
        padding: 25rpx;
        line-height: 15px;
      }

      /*点击状态*/
      &__clickable {
        background-color: $hy-bg-color-grey;
      }

      &__content {
        @include flex(row);
        /*左边icon*/
        &-icon {
          @include flex();
          align-items: center;
          margin-right: 10px;
        }
        /*行头部*/
        &-title {
          margin-right: $hy-border-margin-padding-sm;
          flex: $hy-font-size-subtitle;
          display: flex;
          flex-direction: column;

          /*标题*/
          &--text {
            color: $hy-color-title;
          }

          /*sub值*/
          &--sub {
            margin-top: $hy-border-margin-padding-sm;
            color: $hy-text-color-grey;
          }
        }
      }

      /*cell值*/
      &__center {
        @include flex();
        max-width: 90%;
        flex: 1;
        &__value {
          line-height: 24px;
          color: $hy-text-color-grey;
          margin-right: $hy-border-margin-padding-sm;
        }
      }

      /*右边icon*/
      &__right-icon {
        transition: transform 0.3s;

        &--up {
          transform: rotate(-90deg);
        }

        &--left {
          transform: rotate(180deg);
        }

        &--down {
          transform: rotate(90deg);
        }
      }
    }
  }

  &--disabled {
    color: $hy-text-color-disable;
    /* #ifndef APP-NVUE */
    cursor: not-allowed;
    /* #endif */
  }
}