@use "../../theme.scss" as *;
@use "../../libs/css/mixin.scss" as *;

.hy-textarea {
  border-radius: $hy-border-radius-sm;
  background-color: #fff;
  position: relative;
  @include flex;
  flex: 1;
  padding: $hy-border-margin-padding-base;

  &--radius {
    border-radius: $hy-border-radius-sm;
  }

  &--no-radius {
    border-radius: $hy-border-radius-no;
  }

  &--disabled {
    background-color: $hy-color-disable-bg;
  }

  &__field {
    flex: 1;
    font-size: 15px;
    color: #606266ff;
    width: 100%;
  }

  &__count {
    position: absolute;
    right: 5px;
    bottom: 2px;
    font-size: 12px;
    color: $hy-tips-color;
    background-color: #ffffff;
    padding: 1px 4px;
  }
}