@import "~@/package/theme.scss";
.hy-title {
  padding: $hy-border-margin-padding-base;
  color: $hy-info;
}
.hy-flex {
  display: flex;
  justify-content: space-around;
}
.hy-container {
  flex-wrap: wrap;
  padding: $hy-border-margin-padding-base;
}

.hy-margin {
  padding: 10px 0 20px;
}

.hy-setting__box {
  background: #fff;
  box-shadow: $hy-box-shadow;
  margin: 120px $hy-border-margin-padding-base 0;
  border-radius: $hy-border-radius-base;
  padding: $hy-border-margin-padding-lg;
}