@use "../../theme.scss" as *;
@use "../../libs/css/mixin.scss" as *;

.hy-alert {
  position: relative;
  background-color: $hy-primary;
  padding: $hy-border-margin-padding-base;
  @include flex(row);
  align-items: center;
  border-radius: $hy-border-radius-sm;

  &--primary--dark {
    background-color: $hy-primary;
  }

  &--primary--light {
    background-color: $hy-primary-light;
  }

  &--error--dark {
    background-color: $hy-error;
  }

  &--error--light {
    background-color: $hy-error-light;
  }

  &--success--dark {
    background-color: $hy-success;
  }

  &--success--light {
    background-color: $hy-success-light;
  }

  &--warning--dark {
    background-color: $hy-warning;
  }

  &--warning--light {
    background-color: $hy-warning-light;
  }

  &--info--dark {
    background-color: $hy-info;
  }

  &--info--light {
    background-color: $hy-info-light;
  }

  &__icon {
    margin-right: $hy-border-margin-padding-sm;
  }

  &__content {
    @include flex(column);
    flex: 1;

    &__title {
      font-size: 14px;
      font-weight: bold;
      color: #fff;
      margin-bottom: 2px;
    }

    &__desc {
      font-size: 14px;
      flex-wrap: wrap;
      color: #fff;
    }
  }

  &__title--dark,
  &__desc--dark {
    color: #ffffff;
  }

  &__text--primary--light,
  &__text--primary--light {
    color: $hy-primary;
  }

  &__text--success--light,
  &__text--success--light {
    color: $hy-success;
  }

  &__text--warning--light,
  &__text--warning--light {
    color: $hy-warning;
  }

  &__text--error--light,
  &__text--error--light {
    color: $hy-error;
  }

  &__text--info--light,
  &__text--info--light {
    color: $hy-info;
  }

  &__close {
    position: absolute;
    top: 11px;
    right: 10px;
  }
}