.hy-dropdown {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #fff;
  box-sizing: border-box;
}

/**
* 兼容小程序端
*/
/* #ifdef MP-WEIXIN */
:deep(hy-dropdown-item) {
  flex: 1;
  width: 0;
}
/* #endif */