@use "../../libs/css/mixin.scss" as *;

.hy-image {
  position: relative;
  transition: opacity 0.5s ease-in-out;

  &__image {
    width: 100%;
    height: 100%;
  }

  &__loading,
  &__error {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include flex;
    align-items: center;
    justify-content: center;
    background-color: #f8f8f8ff;
    color: #909193ff;
    font-size: 46px;
  }
}